# Backend settings
MONGODB_URI=mongodb://localhost:27017/amotoa
PROJECT_NAME="Amontoa Server Hub"
API_V1_STR=/api

# Docker Compose settings (Optional overrides)
# BACKEND_PORT=8000
# FRONTEND_PORT=3000
